<h1>This is the all bills page but I haven't finished it yet</h1>
<link rel="stylesheet" href="/public/css/style.css" media="all">
<div class="nav">
    <ul>
        <li><a href="mycenter">My Center</a></li>
        <li><a href="new-bill">New Bill</a></li>
        <li><a href="/api/users/allbills">All Bills</a></li>

        <li><p id="p_userId">{{userId}}</p></li>
    </ul>
</div>

    <div class="layout-albills">
        <div class="left-container-table">
            <table :data="tableData" style="width: 100%;height: 100%;">
                <tr>
                    <th>date</th>
                    <th>food</th>
                    <th>entertainment</th>
                    <th>trainsition</th>
                    <th>other</th>
                    <th>total</th>
                    <th>note</th>
                    <th>operation</th>

                </tr>

                <tr>
                    <th>{{billInfo.date}}</th>
                    <th>{{billInfo.food}}</th>
                    <th>{{billInfo.entertainment}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button type="text" size="small">view</button>
                        <button type="text" size="small" @click="onDetail(scope.row)">Detail</button>
                        <button type = " text" size="small">Edit</button>
                    </th>
                </tr>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button type="text" size="small">view</button>
                        <button type="text" size="small" @click="onDetail(scope.row)">Detail</button>
                        <button type = " text" size="small">Edit</button>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button type="text" size="small">view</button>
                        <button type="text" size="small" @click="onDetail(scope.row)">Detail</button>
                        <button type = " text" size="small">Edit</button></th>
                </tr>
            </table>
        </div>
        <div class="right-container-table">
            <div ref="chartContainer" class="chartContainer"></div>
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>


<script>
    window.onload=function(){
        let userid_form_page = $("#p_userId");
        alert(userid_form_page.html());

        let requestConfig-{
            method:'GET',
            url:'/api/bills/getBillChart',
            contentType:'application/json',
            data:{
                userId:userid_form_page.html(),
            }
        };
        $ajax(requestConfig).then(function(responseMessage){
            
        });
    }
</script>

