<h1>This is the all bills page but I haven't finished it yet</h1>

<div class="nav">
    <ul>
        <li><a href="mycenter">My Center</a></li>
        <li><a href="new-bill">New Bill</a></li>
        <li><a href="allbills">All Bills</a></li>
    </ul>

    
    
</div>