<h1>Billing detail Table and Chart</h1>
<link rel="stylesheet" href="/public/css/style.css" media="all">
<div class="nav">
    <ul>
        <li><a href="mycenter">My Center</a></li>
        <li><a href="new-bill">New Bill</a></li>
        <li><a href="/api/users/allbills">All Bills</a></li>
        <li><a href="todolist">To Do List</a></li>
        <li>
            <p id="p_userId" style="display:none;">{{userId}}</p>
        </li>
    </ul>
</div>

<div class="layout-border-top">
    <div class="layout-albills">
        <div class="left-container-table">
            <table id='all-bill-table'>
                <tr>
                    <th>date</th>
                    <th>food</th>
                    <th>entertainment</th>
                    <th>trainsition</th>
                    <th>other</th>
                    <th>total</th>
                    <th>note</th>
                    <th>operation</th>
                </tr>
            </table>
        </div>
        <div class="right-container-table">
            <div id="allBillChart" class="all-bill-chart"></div>
        </div>
    </div>
</div>

<script>
    const deleteChartBy = id => {
        $.ajax({
            method: 'DELETE',
            url: '/api/bills/delete',
            contentType: 'application/json',
            data: JSON.stringify({ id })
        }).then(res => {
            location.reload();
        })
    }
    const loadChartById = id => {
        const currentChartData = window.chartData.find(item => { return item._id === id })
        const data = [
            { value: currentChartData.food, name: 'Food' },
            { value: currentChartData.entertainment, name: 'Entertainment' },
            { value: currentChartData.transportation, name: 'Transportation' },
            { value: currentChartData.other, name: 'Other' }
        ]
        const myChart = echarts.init(document.getElementById('allBillChart'));
        myChart.clear()
        const option = {
            title: {
                text: `Bill On ${currentChartData.date}`,
                left: 'center',
                top: 20,
                textStyle: {
                    color: '#ccc'
                }
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 20,
                top: 20,
                bottom: 20
            },
            series: [
                {
                    name: '',
                    type: 'pie',
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    data
                }
            ]
        };
        myChart.setOption(option);
    }
    window.onload = function () {
        let userid_form_page = $("#p_userId");
        $.ajax({
            method: 'GET',
            url: '/api/bills/getAllBill',
            contentType: 'application/json',
            data: {
                userId: userid_form_page.html(),
            }
        }).then(res => {
            console.log("The back end has returned the data, so I've got it here");
            console.log(res)
            window.chartData = res
            loadChartById(res[0]._id)
            const table = $('#all-bill-table')
            let tableCells = ''
            res.forEach(item => {
                tableCells += `
                    <tr>
                        <th>${item.date}</th>
                        <th>${item.food}</th>
                        <th>${item.entertainment}</th>
                        <th>${item.transportation}</th>
                        <th>${item.other}</th>
                        <th>${item.total}</th>
                        <th>${item.notes}</th>
                        <th id='${item._id}'>
                            <button>View</button>
                            <button>Delete</button>
                        </th>
                    </tr>
                `
            })
            table.append($(tableCells))
            table.on('click', e => {
                const id = e.target.parentNode.id
                if (e.target.innerHTML === 'View') {
                    loadChartById(id)
                } else if (e.target.innerHTML === 'Delete') {
                    deleteChartBy(id)
                }
            })
        });

    }
</script>