<div id="resizeDiv" class="div-login">

<p class="div-login-button"><a class="login" href="/api/users/login">Log in</a></p>
</div>

<script>
    window.resize = （function () {
    var cliWidth =document.body.clientWidth;
    var cliHeight = document.body.clientHeight;
    var divWidth = cliWidth-2;
    var divHeight = cliHeight-2;
    $('#resizeDiv').css("width", divWidth+"px");
    $('#resizeDiv').css("height", divHeight+"px");
    }
</script>