{{!-- 
<h1 style='text-align: center'>My Center</h1>

<link rel="stylesheet" href="public/js/echarts.min.css">


<div class="nav">
  <ul>
    <li><a href="mycenter">My Center</a></li>
    <li><a href="new-bill">New Bill</a></li>
    <li><a href="allbills">All Bills</a></li>
  </ul>
</div> --}}


<div class="header w">
    <!-- logo -->
    <div class="logo">
        <!-- <img src="logo图片地址" alt=""> -->
    </div>
    <div class="nav">
        <ul>
            <li><a href="mycenter">My Center</a></li>
            <li><a href="new-bill">New Bill</a></li>
            <li><a href="allbills">All Bills</a></li>
        </ul>
    </div>
</div>

<div class='mycenter-content'>

    <ul>
        <li>username: {{info.Username}}</li>
        <li>email: {{info.Mail}}</li>
        <li>telephone: {{info.Phone}}</li>

        <form action='mycenter'>
            <li>
                <label for="sex">Sex:</label>
                <label for="male">Male</label>
                <input type="radio" name="sex" id="male" />

                <label for="female">Female</label>
                <input type="radio" name="sex" id="female" />
            </li>
            <li>
                <label for="birthday">date of birth：</label><input id="birthday" type="date" />
            </li>

        </form>


    </ul>


</div>
<div>
    <input type="reset" value="reset" />

    <input type="submit" value="submit" onclick="reminder()" />
</div>

<div class="user">
    <img src="profile picture还没加入" alt="">


    <div class="signout"><a href="logout">Sign Out</a></div>
</div>

