<div class="header w">
    <!-- logo -->
    <div class="logo">
        <!-- <img src="logo图片地址" alt=""> -->
    </div>
    <div class="nav">
        <ul>
            <li><a href="mycenter">My Center</a></li>
            <li><a href="new-bill">New Bill</a></li>
            <li><a href="allbills">All Bills</a></li>
        </ul>
    </div>
    <div class="user">
        <img src="profile picture还没加入" alt="">
        <div class="signout"><a href="logout">Sign Out</a></div>
    </div>
</div>
<div class='firstlinebody'>
    <div class="leftbody1">
        <h1>Total expenditure</h1>
    </div>
    <div class="rightbody1">
        <h1>Personal information</h1>
  
    </div>
</div>
<div class="secondlinebody">
    <div class="leftbody2">
        <h1>Expense management</h1>
    </div>
    <div class="rightbody2">
        <h1>Latest spending</h1>

    </div>
</div>
<div class="bottonlinebody">
    <div class="bottonbody">
        <h1>Capital flow</h1>
    </div>
</div>

