<h1 style='text-align: center'>New Bill</h1>

    <div class="nav">
        <ul>
            <li><a href="mycenter">My Center</a></li>
            <li><a href="new-bill">New Bill</a></li>
            <li><a href="allbills">All Bills</a></li>
        </ul>
    </div>
    
    <div class="billdiv">
        <div class="create-info">
           
                <label class="label-info" for="Date">Date</label>
                <input class="input-info" type="date" name="user_date" required /><br>
                <label class="label-info" for="Food">Food</label>
                <input class="input-info" type="number" name="user_food" /><br>
                <label class="label-info" for="Entertainment">Entertainment</label>
                <input class="input-info" type="number" name="user_entertainment" /><br>
                <label class="label-info" for="Trandition">Transition</label>
                <input class="input-info" type="number" name="user_transition" /><br>
                <label class="label-info" for="Other">Other</label>
                <input class="input-info" type="number" name="user_other" /><br>
                <label class="label-info" for="Note">Note</label>
                <input class="input-info" type="text" name="user_note"><br>
                <button class="addbutton1" type="botton">add</button>
                <button class="addbutton2" type="submit"> Click To Add Test Data</button>
            
        </div>
        <div class="echarts">echarts</div>
      
    </div>