<h1 style='text-align: center'>New Bill</h1>

<div class="nav">
  <ul>
    <li><a href="mycenter">My Center</a></li>
    <li><a href="new-bill">New Bill</a></li>
    <li><a href="allbills">All Bills</a></li>
    <li>
      <p id="p_userId" style="display:none;">{{userId}}</p>
    </li>
  </ul>
</div>
<div class="layout-border-top">
  <div class="layout-newbills">
    <div class="left-container-createInfo">
      <label class="label-info" for="new-bill-date">Date</label>
      <input class="input-info" type="date" name="user_date" id="new-bill-date" required /><br>
      <label class="label-info" for="new-bill-food">Food</label>
      <input class="input-info" type="number" name="user_food" id="new-bill-food" /><br>
      <label class="label-info" for="new-bill-entertainment">Entertainment</label>
      <input class="input-info" type="number" name="user_entertainment" id="new-bill-entertainment" /><br>
      <label class="label-info" for="new-bill-transition">Transition</label>
      <input class="input-info" type="number" name="user_transition" id="new-bill-transition" /><br>
      <label class="label-info" for="new-bill-other">Other</label>
      <input class="input-info" type="number" name="user_other" id="new-bill-other" /><br>
      <label class="label-info" for="new-bill-note">Note</label>
      <input class="input-info" type="text" name="user_note" id="new-bill-note"><br>

      <div class="addbutton-f">
        <button class="addbutton1" type="button" id="new-bill-addbtn" @click="onCreateBill">add</button>
        {{!-- <button class="addbutton2" type="button" id="addTestBtn"="onAddTestData"> Click To Add Test Data</button>
        --}}
      </div>
    </div>

    <div>
      <div class="right-contontainer-chart">

        <div class="select-container">
          <select id="billTimeOption" @change="onChangeTimeFrame">
            <option value="week">LAST WEEK</option>
            <option value="month">LAST MONTH</option>
            <option value="year">LAST YEAR</option>
          </select>
          <select id="billTypeOption" @change="onChangeType">
            <option value="bar">BAR CHART</option>
            <option value="line">LINE CHART</option>
            <option value="stack">STACK CHART</option>
          </select>
        </div>

        <div ref="chartContainer01" class="chartContainer01" id="chartContainer01" />
        <div id="main" class="showchart" style="width: 850px;height:450px; position:absolute"></div>
      </div>
    </div>
  </div>
</div>


<script>
  window.onload = function () {
    $('#new-bill-date').on('change', e => {
      console.log(e)
      const newDate = new Date(e.currentTarget.value).getTime()
      const todayTs = new Date().getTime()
      if (newDate > todayTs) {
        alert("Can't add later than today")
        $('#new-bill-date').val("")
      }
    })
  }
</script>