<div>
  <p class='logo' style="text-align: left;">logo</p>
</div>
<div class="mainbody middle">


  <form class="form-box back" action="/api/users/signUp" method="POST">
    <div>
      <h1>Register</h1>
    </div>
    <div>
      <input class="input-normal-r" type="text" name="Username" placeholder="UserAccount" />
      <input class="input-normal-r" type="password" name="Password" placeholder="PassWord" />
      <input class="input-normal-r" type="email" name="Mail" placeholder="Email" />
      <input class="input-normal-r" type="text" name="Phone" placeholder="Telphone" />

      <button class="btn-submit" type="submit">
        Register
      </button>
    </div>
    <div>
      <p style="margin-top: 18px">Have a account ? You can</p>
      <p>Click here to <a id="login" href="/api/users/login">Log in</a></p>
    </div>
  </form>
</div>

<div>
  <footer>
    <p>What is really valuable is a penny-free smile.</p>
  </footer>

</div>