<h1>To Do List</h1>
<link rel="stylesheet" href="/public/css/style.css" media="all">
<div class="nav">
    <ul>
        <li><a href="mycenter">My Center</a></li>
        <li><a href="new-bill">New Bill</a></li>
        <li><a href="/api/users/allbills">All Bills</a></li>
        <li><a href="todolist">To Do List</a></li>
        <li>
            <p id="p_userId" style="display:none;">{{userId}}</p>
        </li>
    </ul>
</div>

<div class="layout-border-top">
    <div class='todo-container'>
        <div class='todo-left'>
            <form action="todo">
                <div class="todo-label-info" for="todo-date">Date</div>
                <input class="todo-input-info" type="date" id="todo-date" required /><br>
                <div class="todo-label-info" for="todo-content">Content</div>
                <textarea class="todo-input-info todo-content" type="number" id="todo-content" required></textarea>
            </form>
            <button id='todoSubmit' style='width: 80px; height: 30px;'>Submit</button>
        </div>
        <div class='todo-right'>
            <ol id='todolist-table'>
                <li style='padding-right: 150px;'>
                    <div style="display: inline-block;">
                        <div style="display: inline-block;width: 20px"></div>
                        <span style='margin-right: 64px'>Date</span>
                        <span>Content</span>
                    </div>
                    {{!-- <div>Operation</div> --}}
                </li>
            </ol>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        // deleteTodoList
        const userId = $("#p_userId").html();
        const getTodoList = (userId) => {
            $.ajax({
                method: 'GET',
                url: '/api/bills/getTodoList',
                contentType: 'application/json',
                data: {
                    userId
                }
            }).then(res => {
                window.todoListData = res
                const table = $('#todolist-table')
                let tableCells = ''
                res.forEach((item, index) => {
                    tableCells += `
                        <li style='padding-right: 150px;'>
                            <div style="display: inline-block;">
                                <div style="display: inline-block;width: 20px">${index + 1}</div>
                                <span style='margin-right: 10px'>${item.date}</span>
                                <span>${item.content}</span>
                            </div>
                            {{!-- <button id='done${item._id}'>DONE</button> --}}
                        </li>
                    `
                })
                table.append($(tableCells))
                table.on('click', e => {
                    const id = e.target.id.substr(3)
                    console.log(id)
                    deleteTodoList(id)
                })
            })
        }
        const deleteTodoList = id => {
            $.ajax({
                method: 'DELETE',
                url: '/api/bills/deleteTodoList',
                contentType: 'application/json',
                data: JSON.stringify({ id })
            }).then(res => {
                getTodoList(userId)
            })
        }

        getTodoList(userId)
        $('#todoSubmit').on('click', e => {
            console.log('todoSubmit')
            const date = $('#todo-date')[0].value
            const content = $('#todo-content')[0].value
            debugger
            $.ajax({
                method: 'POST',
                url: '/api/bills/newTodoList',
                contentType: 'application/json',
                data: JSON.stringify({
                    userId,
                    date,
                    content
                })
            }).then(res => {
                location.reload();
            }, rej => {
                    alert(rej.responseJSON.error)
            })
        })
    }
</script>